# Web-фреймворк и сервер
fastapi>=0.100.0
uvicorn>=0.23.0
pydantic>=2.0.0

# Машинное обучение (строгие версии для совместимости с вашими .pkl файлами из Colab)
scikit-learn==1.6.1
numpy>=2.0.0
pandas>=2.2.0
joblib>=1.3.2

# Вспомогательные библиотеки
python-multipart>=0.0.6
